#head#
<script type="text/javascript" src="https://www.teddyprojekt.tk/projekt/komochga/instascan.min.js"></script>
<style type="text/css">
	.activebutton {
	  animation: pulse 2s infinite;
	}

	@keyframes pulse {
	  0% {
	    color: blue;
	  }
	  50% {
	    color: red;
	  }
	  100% {
	    color: blue;
	  }
	}
</style>
#header#
<div id="login">
	<div class="divtable">
		<div class="divline">
			<div class="divruta">
				<input type="text" id="idnamn" onkeydown="checkkey(event, 'loginbutton');" name="anv" placeholder="ID">
				<span id="namnstatus"></span><br>
				<p>
					#iconstart#fas fa-toggle-off fa-1x#iconextra#data-state="off" id="sparaknapp" onclick="changespara(this, &quot;on&quot;);"#iconend#
						 Spara användarnamn</p>
			</div>
			<div class="divruta">
				#iconstart#fas fa-sign-in-alt fa-5x#iconextra#id="loginbutton" onclick="loggain();"#iconend#
			</div>
		</div>
	</div><br/><br/>
		#iconstart#fas fa-user-plus fa-5x#iconextra# onclick="showhide('login', 'nyanvandare');"#iconend#
		#iconstart#fas fa-qrcode fa-5x#iconextra# onclick="startascan(this);"#iconend#
		#iconstart#fas fa-question-circle fa-5x#iconextra#onclick="oppnasida('hjalpstart');"#iconend#
		<br>
	<p>Vill du testa? Använd: "test3".</p>
</div>
<div id="nyanvandare" style="display: none;">
	<form action="/nyanvandare.html" method="post">
		<p>ID/Användarnamn (T.ex. VGR ID)</p>
		<input type="text" name="anv">
		<p>Förnamn</p>
		<input type="text" name="fnamn">
		<p>Efternamn</p>
		<input type="text" name="enamn">
		<input type="submit" value="Ändra namn" id="subnyanv" style="display: none;"><br/>
	</form>
		#iconstart#fas fa-check-circle fa-4x#iconextra#onclick="nyanvandare();"#iconend#
		#iconstart#fas fa-times-circle fa-4x#iconextra#onclick="showhide('nyanvandare', 'login');"#iconend#
</div>
<script type="text/javascript">
	function oppnasida(todo){
		window.open(encodeURI('/index.html?&toshow=' + todo),'_self')
	};
	function nyanvandare(){
		document.getElementById('subnyanv').click();
	};
	function checkkey(event, id){
		if (event.which == 13 || event.keyCode == 13) {
			document.getElementById(id).click();
		};
	};
	function loggain(sendanv){
		checkifsave();
		if(!sendanv){
			var anv = document.getElementById('idnamn').value;
		}else{
			var anv = sendanv;
		};
		if(anv == ''){}else{
			window.open(encodeURI('/index.html?anv=' + anv + '&toshow=login'),'_self')
		};
	};
	function changespara(element, todo){
		if(todo == "on"){
			element.setAttribute('class', element.getAttribute('class').replace('off', 'on'));
			element.setAttribute('data-state', 'on');
			element.setAttribute('onclick', 'changespara(this, "off");');
		}else{
			element.setAttribute('class', element.getAttribute('class').replace('on', 'off'));
			element.setAttribute('data-state', 'off');
			element.setAttribute('onclick', 'changespara(this, "on");');
		};
	};
	function checksave(){
		var namn = localStorage.getItem('tidlogganamn');
		if(!namn){}else{
			var element = document.getElementById('sparaknapp');
			changespara(element, 'on');
			document.getElementById('idnamn').value = namn;
		};
	};
	function checkifsave() {
		var element = document.getElementById('sparaknapp');
		if(element.getAttribute('data-state') == 'on'){
			var namn = document.getElementById('idnamn').value;
			localStorage.setItem('tidlogganamn', namn);
		}else{
			localStorage.removeItem('tidlogganamn');
		};
	};
	function load(){
		checksave();
	};
	load();
	function startascan(element){
		element.setAttribute('class', element.getAttribute('class') + ' activebutton');
		var wrapper = document.getElementById('login');
			var videoelem = document.createElement('video');
				videoelem.setAttribute('id', 'preview');
				videoelem.setAttribute('style', 'display: none;');
			wrapper.appendChild(videoelem);
		let scanner = new Instascan.Scanner({ video: document.getElementById('preview') });
			scanner.addListener('scan', function (content) {
				loggain(content)
			});
		Instascan.Camera.getCameras().then(function (cameras) {
			if (cameras.length > 0) {
				scanner.start(cameras[0]);
			} else {
				console.error('No cameras found.');
			}
		}).catch(function (e) {
			console.error(e);
		});
	};
</script>
#footer#