#head#
#header#
<div id="klocka">
	#tillbakaknapp#
	<div id="klockadata">
		<span id="intid">XX:XX</span> <span id="tid"#timecount#>XX:XX:XX</span>
	</div>
	<div class="center">
	#klockbuttons#
	</div>
	<p>Annan tid: <span class="checkboxwrapper">#klockbuttonsannat#</span>
	</p>
</div>
<div id="klockaannantid" style="display: none;">
	<input type="date" id="dateannan"><input type="time" id="timeannan"><span id="datumstatus"></span><br>
	#svgstart#0 0 512 512" id="annantidbutton" onclick="stopclock('annat');#svginside#M504 256c0 136.967-111.033 248-248 248S8 392.967 8 256 119.033 8 256 8s248 111.033 248 248zM227.314 387.314l184-184c6.248-6.248 6.248-16.379 0-22.627l-22.627-22.627c-6.248-6.249-16.379-6.249-22.628 0L216 308.118l-70.059-70.059c-6.248-6.248-16.379-6.248-22.628 0l-22.627 22.627c-6.248 6.248-6.248 16.379 0 22.627l104 104c6.249 6.249 16.379 6.249 22.628.001z#svgend#
	
	#svgstart#0 0 512 512" onclick="showhide('klockaannantid', 'klocka');#svginside#M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8zm121.6 313.1c4.7 4.7 4.7 12.3 0 17L338 377.6c-4.7 4.7-12.3 4.7-17 0L256 312l-65.1 65.6c-4.7 4.7-12.3 4.7-17 0L134.4 338c-4.7-4.7-4.7-12.3 0-17l65.6-65-65.6-65.1c-4.7-4.7-4.7-12.3 0-17l39.6-39.6c4.7-4.7 12.3-4.7 17 0l65 65.7 65.1-65.6c4.7-4.7 12.3-4.7 17 0l39.6 39.6c4.7 4.7 4.7 12.3 0 17L312 256l65.6 65.1z#svgend#
</div>
<script type="text/javascript">
	var countinterval;
	function startclock(todo){
		var projekt = document.getElementById('projektnamn').getAttribute('data-projektnamn');
		var anv = document.getElementById('namn').getAttribute('data-vgrid');
		if(todo == 'nu'){
			var datum = getDate();
		}else if(todo == 'annat'){
			var annattid = document.getElementById('timeannan').value;
			var annatdatum = document.getElementById('dateannan').value;
			var datum = getDate(annatdatum, annattid);
		};
		window.open(encodeURI('/index.html?anv=' + anv + '&toshow=klocka&projektnamn=' + projekt + '&starttime=' + datum.milisec),'_self')
	};
	function stopclock(todo){
		clearInterval(countinterval);
		var projekt = document.getElementById('projektnamn').getAttribute('data-projektnamn');
		var anv = document.getElementById('namn').getAttribute('data-vgrid');
		var annattidelem = document.getElementById('timeannan');
		var annatdatumelem = document.getElementById('dateannan');
		if(todo == 'nu'){
			var datum = getDate();
		}else if(todo == 'annat'){
			var annattid = annattidelem.value;
			var annatdatum = annatdatumelem.value;
			var datum = getDate(annatdatum, annattid);
		};
		var inklocktid = document.getElementById('tid').getAttribute('data-milisec');
		if(inklocktid <= datum.milisec){
			window.open(encodeURI('/index.html?anv=' + anv + '&toshow=klocka&projektnamn=' + projekt + '&stoptime=' + datum.milisec),'_self')
		}else{
			annattidelem.setAttribute('style', 'border: solid 3px #F00');
			annatdatumelem.setAttribute('style', 'border: solid 3px #F00');
		};
	};
	function startcount(){
		var tidraknare = document.getElementById('tid');
		var inmilisec = tidraknare.getAttribute('data-milisec');
		if(!inmilisec){}else{
			var dobj = getDate();
			var timecalc = timebetween(inmilisec, dobj.milisec);
			removechilds(tidraknare);
			var tidraknaretext = document.createTextNode(addzero(timecalc.t) + ':' + addzero(timecalc.m) + ':' + addzero(timecalc.s));
			tidraknare.appendChild(tidraknaretext);
		};
	};
	function annantid(todo){
		if(todo == 'ut'){
			var varfunk = 'stopclock';
		}else if(todo == 'in'){
			var varfunk = 'startclock';
		}else{
			console.log('Något gick fel i "annantid()".');
		};
		document.getElementById('annantidbutton').setAttribute('onclick', varfunk + '(\'annat\')');
		var dobj = getDate();
		document.getElementById('timeannan').value = dobj.tid;
		document.getElementById('dateannan').value = dobj.datum;
		showhide('klocka', 'klockaannantid');
	};
	function load(){
		var tidraknare = document.getElementById('tid');
		var inmilisec = tidraknare.getAttribute('data-milisec');
		if(!inmilisec){}else{
			var intid = document.getElementById('intid')
			removechilds(intid);
			intid.appendChild(document.createTextNode(getDate('', '', inmilisec).tid));
			startcount();
			countinterval = setInterval(function(){ startcount(); }, 1000);
		};
	};
	load();
</script>
#footer#