#head#
#header#
<div id="klocka">
	#iconstart#arrow-circle-left fa-3x#iconextra#onclick="tillbakatillprojekt();"#iconend#
	<div id="klockadata">
		<span id="intid">XX:XX</span> <span id="tid"#timecount#>XX:XX:XX</span>
	</div>
	<div class="center">
	#klockbuttons#
	</div>
	<p>Annan tid: <span class="checkboxwrapper">#klockbuttonsannat#</span>
		<!-- <i class="fa fa-money" aria-hidden="true" onclick="showpengar();"></i> -->
	</p>
</div>
<div id="klockaannantid" style="display: none;">
	<input type="date" id="dateannan"><input type="time" id="timeannan"><span id="datumstatus"></span><br>
	#iconstart#check-circle fa-4x#iconextra#id="annantidbutton" onclick="stopclock('annat');"#iconend#
	#iconstart#times-circle fa-4x#iconextra#onclick="showhide('klockaannantid', 'klocka');"#iconend#
</div>
<script type="text/javascript">
	function tillbakatillprojekt(){
		var anv = document.getElementById('namn').getAttribute('data-vgrid');
		window.open('/index.html?anv=' + anv + '&toshow=login','_self')
	};
	var countinterval;
	function startclock(todo){
		var projekt = document.getElementById('projektnamn').getAttribute('data-projektnamn');
		var anv = document.getElementById('namn').getAttribute('data-vgrid');
		if(todo == 'nu'){
			var datum = getDate();
		}else if(todo == 'annat'){
			var annattid = document.getElementById('timeannan').value;
			var annatdatum = document.getElementById('dateannan').value;
			var datum = getDate(annatdatum, annattid);
		};
		window.open('/index.html?anv=' + anv + '&toshow=klocka&projektnamn=' + projekt + '&starttime=' + datum.milisec,'_self')
	};
	function stopclock(todo){
		clearInterval(countinterval);
		var projekt = document.getElementById('projektnamn').getAttribute('data-projektnamn');
		var anv = document.getElementById('namn').getAttribute('data-vgrid');
		var annattidelem = document.getElementById('timeannan');
		var annatdatumelem = document.getElementById('dateannan');
		if(todo == 'nu'){
			var datum = getDate();
		}else if(todo == 'annat'){
			var annattid = annattidelem.value;
			var annatdatum = annatdatumelem.value;
			var datum = getDate(annatdatum, annattid);
		};
		var inklocktid = document.getElementById('tid').getAttribute('data-milisec');
		if(inklocktid <= datum.milisec){
			window.open('/index.html?anv=' + anv + '&toshow=klocka&projektnamn=' + projekt + '&stoptime=' + datum.milisec,'_self')
		}else{
			annattidelem.setAttribute('style', 'border: solid 3px #F00');
			annatdatumelem.setAttribute('style', 'border: solid 3px #F00');
		};
	};
	function startcount(){
		var tidraknare = document.getElementById('tid');
		var inmilisec = tidraknare.getAttribute('data-milisec');
		if(!inmilisec){}else{
			var dobj = getDate();
			var timecalc = timebetween(inmilisec, dobj.milisec);
			removechilds(tidraknare);
			var tidraknaretext = document.createTextNode(addzero(timecalc.t) + ':' + addzero(timecalc.m) + ':' + addzero(timecalc.s));
			tidraknare.appendChild(tidraknaretext);
		};
	};
	function annantid(todo){
		if(todo == 'ut'){
			var varfunk = 'stopclock';
		}else if(todo == 'in'){
			var varfunk = 'startclock';
		}else{
			console.log('Något gick fel i "annantid()".');
		};
		document.getElementById('annantidbutton').setAttribute('onclick', varfunk + '(\'annat\')');
		var dobj = getDate();
		document.getElementById('timeannan').value = dobj.tid;
		document.getElementById('dateannan').value = dobj.datum;
		showhide('klocka', 'klockaannantid');
	};
	function load(){
		var tidraknare = document.getElementById('tid');
		var inmilisec = tidraknare.getAttribute('data-milisec');
		if(!inmilisec){}else{
			var intid = document.getElementById('intid')
			removechilds(intid);
			intid.appendChild(document.createTextNode(getDate('', '', inmilisec).tid));
			startcount();
			countinterval = setInterval(function(){ startcount(); }, 1000);
		};
	};
	load();
</script>
#footer#