#head#
#header#
<div id="loggwrapper">
	<i class="fa fa-arrow-circle-left fa-3x" value="Tillbaka" aria-hidden="true" onclick="tillbakatillprojekt();"></i>
	<table>
		<thead>
			<tr>
				<td colspan="5">
					<div class="center">
						<select id="loggandramanad" onchange="loggandramanad(this);">#projektdatum#</select>
					</div>
				</td>
			</tr>
		</thead>
		<tbody>#tidloggningar#</tbody>
	</table>
</div>
<div id="loggedit" data-milisecut="" data-milisecin="" style="display: none;">
	<p>In stämpling</p>
	<input type="date" id="loggeditindat"><br>
	<input type="time" id="loggeditintime">
	<p>Ut stämpling</p>
	<input type="date" id="loggeditutdat"><br>
	<input type="time" id="loggedituttime"><br>
	<i class="fa fa-check-circle fa-4x" aria-hidden="true" onclick="sendedit();"></i>
	<i class="fa fa-times-circle fa-4x" aria-hidden="true" onclick="showhide('loggedit', 'loggwrapper');"></i>
</div>
<script type="text/javascript">
	function loggandramanad(element){
		var anv = document.getElementById('namn').getAttribute('data-vgrid');
		var projekt = document.getElementById('projektnamn').getAttribute('data-projektnamn');
		window.open('/index.html?anv=' + anv + '&toshow=logg&projektnamn=' + projekt + '&datetofetch=' + element.value,'_self')
	};
	function tillbakatillprojekt(){
		var anv = document.getElementById('namn').getAttribute('data-vgrid');
		window.open('/index.html?anv=' + anv + '&toshow=login','_self')
	};
	function removesegment(element){
		var anv = document.getElementById('namn').getAttribute('data-vgrid');
		var projekt = document.getElementById('projektnamn').getAttribute('data-projektnamn');
		var parent = element.parentElement.parentElement;
		var datum = document.getElementById('loggandramanad').value;
		window.open('/index.html?anv=' + anv + '&toshow=logg&projektnamn=' + projekt + '&datetofetch=' + datum + '&remove={"in":"' + parent.getAttribute('data-milisecin') + '","ut":"' + parent.getAttribute('data-milisecut') + '"}','_self')
	};
	function showedit(element){
		var parent = element.parentElement.parentElement;
		var datein = parent.getAttribute('data-milisecin');
		var indobj = getDate('','',datein);
		var dateut = parent.getAttribute('data-milisecut');
		var utdobj = getDate('','',dateut);
		var loggedit = document.getElementById('loggedit');
			loggedit.setAttribute('data-milisecin', datein);
			loggedit.setAttribute('data-milisecut', dateut);
		document.getElementById('loggeditindat').value = indobj.datum;
		document.getElementById('loggeditintime').value = indobj.tid;
		document.getElementById('loggeditutdat').value = indobj.datum;
		document.getElementById('loggedituttime').value = indobj.tid;
		showhide('loggwrapper', 'loggedit');
	};
	function sendedit(){
		var anv = document.getElementById('namn').getAttribute('data-vgrid');
		var projekt = document.getElementById('projektnamn').getAttribute('data-projektnamn');
		var datum = document.getElementById('loggandramanad').value;
		var loggedit = document.getElementById('loggedit');
		var nyttindat = document.getElementById('loggeditindat');
		var nyttintid = document.getElementById('loggeditintime');
		var millisecin = getDate(nyttindat.value, nyttintid.value, '').milisec;
		var nyttutdat = document.getElementById('loggeditutdat');
		var nyttuttid = document.getElementById('loggedituttime');
		var millisecut = getDate(nyttutdat.value, nyttuttid.value, '').milisec;
		if(millisecin >= millisecut){
			nyttutdat.setAttribute('style', 'border: solid 3px red;')
			nyttuttid.setAttribute('style', 'border: solid 3px red;')
		}else{
			window.open('/index.html?anv=' + anv + '&toshow=logg&projektnamn=' + projekt + '&datetofetch=' + datum + '&remove={"in":"' + loggedit.getAttribute('data-milisecin') + '","ut":"' + loggedit.getAttribute('data-milisecut') + '"}&change={"in":"' + millisecin + '","ut":"' + millisecut + '"}','_self')
		};
	};
</script>
#footer#