#head#
#header#
<div id="loggwrapper">
	<i class="fa fa-arrow-circle-left fa-3x" value="Tillbaka" aria-hidden="true" onclick="tillbakatillprojekt();"></i>
	<table>
		<thead>
			<tr>
				<td colspan="5">
					<div class="center">
						<select onchange="loggandramanad(this);">#projektdatum#</select>
					</div>
				</td>
			</tr>
		</thead>
		<tbody>#tidloggningar#</tbody>
	</table>
</div>
<script type="text/javascript">
	function loggandramanad(element){
		var anv = document.getElementById('namn').getAttribute('data-vgrid');
		var projekt = document.getElementById('projektnamn').getAttribute('data-projektnamn');
		window.open('/index.html?anv=' + anv + '&toshow=logg&projektnamn=' + projekt + '&datetofetch=' + element.value,'_self')
	};
	function tillbakatillprojekt(){
		var anv = document.getElementById('namn').getAttribute('data-vgrid');
		window.open('/index.html?anv=' + anv + '&toshow=login','_self')
	};
</script>
#footer#