#head#
#header#
<div id="loggwrapper">
	#tillbakaknapp#
	<table>
		<thead>
			<tr>
				<td colspan="5">
					<div class="center">
						<select id="loggandramanad" onchange="loggandramanad(this);">#projektdatum#</select>
					</div>
				</td>
			</tr>
		</thead>
		<tbody>#tidloggningar#</tbody>
	</table>
</div>
<div id="loggedit" data-milisecut="" data-milisecin="" style="display: none;">
	<p>In stämpling</p>
	<input type="date" id="loggeditindat"><br>
	<input type="time" id="loggeditintime">
	<p>Ut stämpling</p>
	<input type="date" id="loggeditutdat"><br>
	<input type="time" id="loggedituttime"><br>

	#svgstart#0 0 512 512" onclick="sendedit();#svginside#M504 256c0 136.967-111.033 248-248 248S8 392.967 8 256 119.033 8 256 8s248 111.033 248 248zM227.314 387.314l184-184c6.248-6.248 6.248-16.379 0-22.627l-22.627-22.627c-6.248-6.249-16.379-6.249-22.628 0L216 308.118l-70.059-70.059c-6.248-6.248-16.379-6.248-22.628 0l-22.627 22.627c-6.248 6.248-6.248 16.379 0 22.627l104 104c6.249 6.249 16.379 6.249 22.628.001z#svgend#
	
	#svgstart#0 0 512 512" onclick="showhide('loggedit', 'loggwrapper');#svginside#M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8zm121.6 313.1c4.7 4.7 4.7 12.3 0 17L338 377.6c-4.7 4.7-12.3 4.7-17 0L256 312l-65.1 65.6c-4.7 4.7-12.3 4.7-17 0L134.4 338c-4.7-4.7-4.7-12.3 0-17l65.6-65-65.6-65.1c-4.7-4.7-4.7-12.3 0-17l39.6-39.6c4.7-4.7 12.3-4.7 17 0l65 65.7 65.1-65.6c4.7-4.7 12.3-4.7 17 0l39.6 39.6c4.7 4.7 4.7 12.3 0 17L312 256l65.6 65.1z#svgend#
</div>
<script type="text/javascript">
	function loggandramanad(element){
		var anv = document.getElementById('namn').getAttribute('data-vgrid');
		var projekt = document.getElementById('projektnamn').getAttribute('data-projektnamn');
		window.open(encodeURI('/index.html?anv=' + anv + '&toshow=logg&projektnamn=' + projekt + '&datetofetch=' + element.value),'_self')
	};
	function removesegment(element){
		var anv = document.getElementById('namn').getAttribute('data-vgrid');
		var projekt = document.getElementById('projektnamn').getAttribute('data-projektnamn');
		var parent = element.parentElement.parentElement;
		var datum = document.getElementById('loggandramanad').value;
		window.open(encodeURI('/index.html?anv=' + anv + '&toshow=logg&projektnamn=' + projekt + '&datetofetch=' + datum + '&remove={"in":"' + parent.getAttribute('data-milisecin') + '","ut":"' + parent.getAttribute('data-milisecut') + '"}'),'_self')
	};
	function showedit(element){
		var parent = element.parentElement.parentElement;
		var datein = parent.getAttribute('data-milisecin');
		var indobj = getDate('','',datein);
		var dateut = parent.getAttribute('data-milisecut');
		var utdobj = getDate('','',dateut);
		var loggedit = document.getElementById('loggedit');
			loggedit.setAttribute('data-milisecin', datein);
			loggedit.setAttribute('data-milisecut', dateut);
		document.getElementById('loggeditindat').value = indobj.datum;
		document.getElementById('loggeditintime').value = indobj.tid;
		document.getElementById('loggeditutdat').value = indobj.datum;
		document.getElementById('loggedituttime').value = indobj.tid;
		showhide('loggwrapper', 'loggedit');
	};
	function sendedit(){
		var anv = document.getElementById('namn').getAttribute('data-vgrid');
		var projekt = document.getElementById('projektnamn').getAttribute('data-projektnamn');
		var datum = document.getElementById('loggandramanad').value;
		var loggedit = document.getElementById('loggedit');
		var nyttindat = document.getElementById('loggeditindat');
		var nyttintid = document.getElementById('loggeditintime');
		var millisecin = getDate(nyttindat.value, nyttintid.value, '').milisec;
		var nyttutdat = document.getElementById('loggeditutdat');
		var nyttuttid = document.getElementById('loggedituttime');
		var millisecut = getDate(nyttutdat.value, nyttuttid.value, '').milisec;
		if(millisecin >= millisecut){
			nyttutdat.setAttribute('style', 'border: solid 3px red;')
			nyttuttid.setAttribute('style', 'border: solid 3px red;')
		}else{
			window.open(encodeURI('/index.html?anv=' + anv + '&toshow=logg&projektnamn=' + projekt + '&datetofetch=' + datum + '&remove={"in":"' + loggedit.getAttribute('data-milisecin') + '","ut":"' + loggedit.getAttribute('data-milisecut') + '"}&change={"in":"' + millisecin + '","ut":"' + millisecut + '"}'),'_self')
		};
	};
</script>
#footer#