#head#
#header#
<div id="projekt">
	<select id="listaprojekt"><option value="none">Välj Projekt</option>#projektselect#</select>
	<div id="buttonwrapper">
		<i class="fa fa-clock-o fa-4x" aria-hidden="true" onclick="valjprojekt();"></i>
		<!-- <i class="fa fa-list fa-4x" aria-hidden="true" onclick="getlogg();"></i>
		<i class="fa fa-print fa-4x" aria-hidden="true" onclick="loadskrivut();"></i>
		<i class="fa fa-pie-chart fa-4x" aria-hidden="true" onclick="getpie();"></i>
	<i class="fa fa-user-plus fa-4x" aria-hidden="true" onclick="admin();"></i></div> -->
</div>
<script type="text/javascript">
	function valjprojekt(){
		var projekt = document.getElementById('listaprojekt').value;
		var anv = document.getElementById('namn').getAttribute('data-vgrid');
		if(projekt == 'none'){
			document.getElementById('listaprojekt').setAttribute('style', 'border: solid 3px #F00')
		}else{
			window.open('/index.html?anv=' + anv + '&toshow=klocka&projektnamn=' + projekt,'_self')
		};
	};
</script>
#footer#