#head#
#header#
<div id="skrivut">
	#tillbakaknapp#
	#rapport#
	#iconstart#fas fa-file-alt fa-4x#iconextra#onclick="startprint('vgrutanob');"#iconend#
	#iconstart#fas fa-code fa-4x#iconextra#onclick="startprint('json');"#iconend#
	#iconstart#fas fa-table fa-4x#iconextra#onclick="startprint('rapport');"#iconend#
</div>
<script type="text/javascript">
	function startprint(layout){
		var anv = document.getElementById('namn').getAttribute('data-vgrid');
		var allcheckbox = document.getElementsByClassName('checkboxwrapper');
		var projekt = [];
		for (var i = allcheckbox.length - 1; i >= 0; i--) {
			var checkelem = allcheckbox[i].getElementsByTagName('input')[0];
			if(checkelem.checked){
				projekt.push(checkelem.getAttribute('data-namn'));
			};
		};
		var datum = document.getElementById('skrivutdatum').value;
		window.open('/download?anv=' + anv + '&layout=' + layout + '&datum=' + datum + '&projektnamn=' + projekt.join('||||'), 'Tidrapport - ' + datum, "fullscreen=yes");
	};
</script>
#footer#