#head#
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<style type="text/css">
	#piechart svg, #columnchart_stacked svg {
		margin: 0px;
	}
	.center table, #detaljtable {
		margin-right: auto;
		margin-left: auto;
	}
</style>
#header#
<div id="statistik">
	#tillbakaknapp#
	<div id="piechart"></div>
	<div id="columnchart_stacked"></div>
		#statrender#
</div>
<script type="text/javascript">
	function nextpie(date){
		var anv = document.getElementById('namn').getAttribute('data-vgrid');
		var projektnamn = document.getElementById('projektnamn').getAttribute('data-projektnamn');
		window.open(encodeURI('/index.html?anv=' + anv + '&toshow=stat&projektnamn=' + projektnamn + '&datetofetch=' + date),'_self')
	};
</script>
#footer#